# See http://help.github.com/ignore-files/ for more about ignoring files.
*~
.\#*
\#*

# NPM
/node_modules

# compiled output
/dist
/tmp
/out-tsc

# derived from JSX

# backup
*~

# side directories
/SandBox

# node-waf configuration
.lock-wscript

# System Files
.DS_Store
Thumbs.db

# GTAGS
GTAGS
GPATH
GRTAGS
gtags.files
